---
import Heading from '@lara/components/heading/Heading';
import Marquee from '@lara/components/marquee/Marquee.astro';
import WrapperHeader from '@lara/components/wrapper/HeaderWrapper';
import Layout from '@lara/layouts/Layout.astro';
import { getCollection, render } from 'astro:content';

const estudio = await getCollection('estudio');

const { quotes, marquee, footerImage, hero } = estudio[0].data; 
const { Content } = await render(estudio[0])


---
<Layout title="Lara Gonzalez| Estudio de branding y diseño gráfico" description="Diseñadora gráfica y social media manager especializada en crear marcas estratégicas y emocionales. Ayudo a negocios a destacar en el mercado con soluciones creativas.">
	<WrapperHeader hero={hero} client:load />
	<article class="studio">
		<section class="studio__markdown-content wrapper-fluid">
			<Content />
		</section>
		<section class="studio__content wrapper-fluid">
			{quotes && 
			<>
				<Heading tag="h2" size="md">{quotes.heading}</Heading>
				<div class="studio__content--col">
					<ul class="studio__content--list">
						{quotes.items.map((quote) => (
							<li>{quote}</li>
						))}
					</ul>
					{quotes.cta &&
						<a class="button button--huge button--solid" href={quotes.cta.url}>{quotes.cta.text}</a>
					}
				</div>
			</>
			}

		</section>

		{marquee &&
			<a class="words-carrousel__link" href={marquee.url}>
				<Marquee direction="to-left">
						<span>{marquee.text}</span>
						<span>{marquee.separator}</span> 
				</Marquee>
			</a>
		}

	</article>
	<div class="studio__profile wrapper-fluid">
		<img src={footerImage} alt="Lara González primer plano silla" />
	</div>
</Layout>

<style lang="scss">
	@use "dawuti" as *;

	header{
		margin-top: var(--s6);
	}

	.studio {
		&__markdown-content {
			margin-top: calc(var(--s) * 15);
			margin-bottom: calc(var(--s) * 14);
			@include mq-xs {
				padding-right: size-by-cols(1, 6);
			}
			@include mq-md {
				padding-right: size-by-cols(2, 24);
			}
			@include mq-xl {
				margin-top: calc(var(--s) * 24);
				margin-bottom: calc(var(--s) * 24);
				padding-right: size-by-cols(6, 24);
			}
			:global(p + p) {
				margin-top: calc(var(--s) * 6);
			}
			:global(p) {
				@include f('md', 400, true);
			}
		}

		&__content{
			border-top: 1px solid var(--color-dark);
			padding-top: var(--s6);
			padding-bottom: calc(var(--s) * 11);

			@include mq-md {
				display: flex;
				padding-top: var(--s8);
				padding-bottom: calc(var(--s) * 13);
			}

			:global(.heading) {
				margin-bottom: var(--s5);
				font-weight: 600;
				@include mq-md {
					@include f('base', 600, true);
					line-height: 1.2;
					flex-basis: size-by-cols(9, 24);
					padding-right: size-by-cols(2, 24);
				}
			}

			&--list {
				margin-bottom: calc(var(--s) * 8);
				@include mq-md {
					margin-bottom: calc(var(--s) * 14);
				}

				:global(li) {
					@include f('md', 400, true);
					letter-spacing: calc(var(--s) * -.25);

					@include mq-md {
						@include f('base', 400, true);
						letter-spacing: calc(var(--s) * -.25);
					}
					+ :global(li) {
						margin-top: var(--s3);
					}
				}
			}

			&--col {
				@include mq-xs {
					padding-right: size-by-cols(1, 12);
				}
				@include mq-md {
					flex-basis: size-by-cols(15, 24);
					padding-right: size-by-cols(1, 24);
				}
			}
		}
		&__images{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: var(--s3);

			img{
				width: 280px;
				height: 350px;

			}
		}

		&__profile {
			img {
				aspect-ratio: 34 / 42;
				object-fit: cover;
				height: 100%;
				width: 100%;
				max-height: calc(var(--s10) * 16);
				@include mq-xs {
					aspect-ratio: 95 / 42;
				}
				@include mq-md {
					aspect-ratio: 140 / 80;
				}
				@include mq-lg {
					object-position: 0 48%;
				}
			}
		}
	}

</style>

