---
import Heading from '@lara/components/heading/Heading';
import Marquee from '@lara/components/marquee/Marquee';
import WrapperHeader from '@lara/components/wrapper/HeaderWrapper';
import Layout from '@lara/layouts/Layout.astro';
import { getCollection, render } from 'astro:content';

const estudio = await getCollection('estudio');
//console.log(estudio[0].data.hero)

const { quotes, marquee, footerImage, hero } = estudio[0].data; 
const { Content } = await render(estudio[0])


---
<Layout title="El estudio | Lara González" description="">
	<WrapperHeader hero={hero} client:load />
	<article class="studio">
		<section class="studio__markdown-content wrapper-fluid">
			<Content />
		</section>
		<section class="studio__content wrapper-fluid">
			<Heading tag="h2" size="md">{quotes.heading}</Heading>
			<ul>
			{quotes.items.map((quote) => (
				<li>
					<blockquote>
						<p>{quote}</p>
					</blockquote>
				</li>
			))}
			</ul>
			{quotes.cta &&
				<div class="actions-wrapper actions-wrapper--center">
					<a class="button button--solid" href={quotes.cta.url}>{quotes.cta.text}</a>
				</div>
			}
		</section>
		{marquee &&
		<Marquee link={marquee.url} client:load>
			<span>{marquee.text}</span>
		</Marquee>
		}
	</article>
	<img src={footerImage} alt="Lara González estudio" />
</Layout>

<style lang="scss">
	@use "dawuti" as *;

	header{
		margin-top: var(--s6);
	}

	.studio{
		background-color: var(--color-light);

		&__markdown-content{
			margin-top: var(--s10);
			margin-bottom: var(--s10);
			:global(p) {
				@include f('md', 400, true);
			}
		}

		&__content{
			margin-top: var(--s10);
			margin-bottom: var(--s10);
		}
		&__images{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: var(--s3);

			img{
				width: 280px;
				height: 350px;

			}
		}
	}


</style>

