---
import Heading from '@lara/components/heading/Heading';
import Layout from '../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';
import { Card } from '@lara/components/card/Card';
import WrapperHeader from '@lara/components/wrapper/HeaderWrapper';

const home = await getCollection('home');
const { hero, projectsSection, services } = home[0].data; 
const { Content } = await render(home[0])

---

<Layout title="Lara González" description="">
	<WrapperHeader hero={hero}  client:load />	
	
	<section class="home__projects wrapper-fluid">
		<div class="home__markdown-content">
			<Content />
		</div>
		<div>
			<img src={projectsSection.imageLg} alt="Creatividad y estrategia imagen" />
			<img src={projectsSection.imageSm} alt="Creatividad y estrategia imagen" />
		</div>
		<div class="actions-wrapper actions-wrapper--center">
		 	<a class="button button--solid" href={projectsSection.cta.url}>{projectsSection.cta.text}</a>
		</div>
	</section>
	
	<section class="home__services wrapper-fluid">
		{services.map((service) => (
			<div class="home__services-header">
			  <Heading tag="h2" size="xl" headingFontWeight={700}>{service.category}</Heading>

			  <a href={service.button.link} class={`button button--${service.button.type}`}>
				{service.button.text}
			  </a>
			</div>
		  
		  	<>
			  {service.steps && service.steps?.length > 0 && (
				<div class="home__steps">
				  {service.steps.map((step, i) => (
					<Card card={step} index={i} />
				  ))}
				</div>
			  )}
			</>
		  ))}
	</section>
</Layout>

<style lang="scss">
	@use "dawuti" as *;

	.home{

		&__markdown-content{
			:global(p) {
				@include f('lg', 700, true);
			}
		}

		&__services{

			&-header{
				display:flex;
				justify-content: space-between;
				align-items: center;
				padding: var(--s6) 0;
				&:not(:first-child) {
					border-bottom: 1px solid var(--color-dark);
				}
			}
		}

		&__steps{
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
			gap: var(--s4);
		}

		&__projects{
			background-color: var(--color-tertiary);
		}
	}

	p{
		@include f('lg', 700, true);
	}
</style>
